* {
	font-family: "Roboto", sans-serif;
}

.form-signin .form-floating:focus-within,
.form-registration .form-floating:focus-within {
	z-index: 2;
}

.form-signin input,
.form-registration input {
	border-radius: 0;
	margin-bottom: -1px;
}
